
.developer{
    margin-bottom: 2rem;
}
.onbench{
   text-align: center;
}
.applied{
   text-align: center;
   color: #2D9CDB;

}
.interviewing{
   text-align: center;
   color: #F2C94C;

}
.madeoffer{
   text-align: center;
   color: #F2994A;

}
.rejected{
   text-align: center;
color: #EB5757;
}
.hired{
   text-align: center;
   color:#27AE60

}
.position-table{
    margin: 2rem 0;
}